<div class="col-sm-6">
  <%= form_for(@student, url: maker_user_student_path, method: :post, remote: true) do |f| %>
      <%= hidden_field_tag(:method, @method) %>

      <div class="form-group">
        <%= label_tag :old_password, '旧密码'%>
        <%= password_field_tag(:old_password, '', class: 'form-control', autocomplete: 'off') %>
      </div>
      <div class="form-group">
        <%= label_tag :new_password, '新密码'%>
        <%= password_field_tag(:new_password, '', class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= label_tag :confirm_password, '确定密码'%>
        <%= password_field_tag(:confirm_password,  '', class: 'form-control') %>
      </div>
      <!-- //用于阻止 chrome表单自动填充的占位符 -->
      <input class='hidden' type="text" />
      <input class='hidden' type="password"/>
      <!-- //用于阻止 chrome表单自动填充的占位符 -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">更新</button>
      </div>
      <div class="form-group">
        <div class="text-danger">
          <strong>注意:密码长度必须6到16位,而且必须是数字和字母组合</strong>
        </div>
      </div>
  <% end %>
</div>