 <td>
    <input type="checkbox" id="<%= canteen_window.id %>">
  </td>
  <td>
    <%= canteen_window.stair_layer.canteen.region.name %>
  </td>

  <td>
    <%= canteen_window.stair_layer.canteen.name %>
  </td>
  <td>
    <%= "#{canteen_window.stair_layer.layer}楼" %>
  </td>
  <td>
    <%= "#{canteen_window.name}" %>
  </td>


