
<td>
  <input type="checkbox" id="<%= canteen_worker.id %>">
</td>
<td>
  <%= canteen_worker.account %>
</td>

<td>
  <%= canteen_worker.name %>
</td>
<td>
  <%= GENDER.key(canteen_worker.gender) %>
</td>
<td>
  <%= canteen_worker.granted.alias %>
</td>
